.add-to-order {
    padding: 20px 0;
    display: block;
}

.add-to-order__label {
    float: right;
    font-size: 14px;
    line-height: 44px;
    padding-right: 16px;
}

.add-to-order__input-number {
    float: right;
    border-radius: 3px 0 0 3px;
    border-right: 0;
}

.add-to-order__button {
    float: right;
}

