@import "var";

.category-menu {
    display: block;
    width: 250px;
    float: left;
    box-sizing: border-box;
    padding: 10px 10px 35px;
    font-family: Tahoma, sans-serif;
}

.category-menu__item {
    position: relative;
}

.category-menu__link {
    @extend .ellipsis;
    font-size: 13px;
    line-height: 26px;
    color: #7d7b7b;
    background-color: #f6f6f6;
    display: block;
    text-decoration: none;
    padding: 2px 30px 2px 10px;
    margin-bottom: 1px;
    width: auto;
    clear: both;
    position: relative;
    &:hover {
        color: #fff;
        background-color: $secondaryColor;
    }
}

.category-menu__opener {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    width: 30px;
    text-align: center;
    cursor: pointer;
    color: #7d7b7b;
    background-color: #f6f6f6;
    line-height: 30px;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
    &:hover + .category-menu__link {
        @extend .category-menu__link:hover;
    }
}

.category-menu__sub-category-wrapper {
    padding-left: 24px;
}
