@import "var";

.category-item__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.category-item {
    display: block;
    width: 124px;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    color: $mainColor;
    margin-bottom: 10px;
    &:hover {
        text-decoration: underline;
    }
}

.category-item__image {
    display: block;
    background-position: center center;
    background-size: cover;
    width: 104px;
    height: 104px;
    margin: 0 auto 13px;
}

.category-item__name {
    font-size: 12px;
    line-height: 1.15;
}
