@import "var";

.footer-nav {
    display: block;
    text-align: center;
    padding: 0 10px 34px;
    line-height: 0;
}

.footer-nav__link {
    color: $mainColor;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 0 1px;
    margin: 0 19px;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid transparent;
    &:hover {
        border-bottom-color: $mainColor;
    }
}
