@import "var";

$footerTopPadding: 32px;

.footer {
    min-height: 171px;
    //height: 117px;
    position: relative;
    border-bottom: solid 3px $secondaryColor;
    background-color: $mainBgColor;
    padding: $footerTopPadding 0 17px;
    z-index: 0;
    &:before {
        transform: scaleY(-1);
        content: '';
        position: absolute;
        left: 0;
        top: -$footerTopPadding;
        width: 100%;
        height: 100%;
        background-image: url(./../i/big-bg.png);
        background-repeat: repeat-x;
        background-position: center 0;
        z-index: -1;
    }
}

.footer__left-part {
    float: left;
}

.footer__right-part {
    float: right;
    width: 370px;
}

.footer__center-part {
    margin: 0 370px 0 250px;
}

.footer-paragraph--type-1 {
    font-size: 12px;
    line-height: 13px;
}

.footer-paragraph--type-2 {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 12px;
    //text-align: center;
}

.footer-paragraph--type-3 {
    font-size: 11px;
    line-height: 13px;
    color: #777;
}

.footer__full-line {
    clear: both;
    text-align: center;
    padding: 39px 10px 0;
}

.footer__nav_link {
    color: #777;
    float: left;
    //position: relative;
    //border-bottom: 1px solid #777;
    text-decoration: none;
    clear: left;
    font-size: 16px;
    line-height: 19px;
    margin: 0 10px 8px;
    &:hover {
        text-decoration: underline;
    }
}
