@import "var";

.form {
    display: block;
    padding: 20px 0;
}

.label {
    display: block;
    padding-bottom: 14px;
}

.label__text {
    font-size: 14px;
    line-height: 22px;
    float: left;
    text-align: right;
    width: 50%;
    box-sizing: border-box;
    padding: 10px 10px 10px 0;
}

.input {
    display: block;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #fff;
    resize: none;
    font-family: $mainFontFamily;
}

.input:invalid {
    border-color: $secondaryColor;
    box-shadow: 0 0 3px $secondaryColor;
}

.input--number {
    text-align: center;
    text-indent: 15px;
    width: 76px;
}

.input--text {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 50%;
    box-sizing: border-box;
    width: 240px;
}

.button {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 12px 40px 11px;
    @extend .main-gradient;
    &:hover {
        @extend .main-gradient--inverse;
    }
}

.buttons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .button {
        margin: 10px;
    }
}
