.header {
    height: 186px;
    background-image: url(./../i/bg-header.png);
    background-repeat: repeat-x;
    background-position: center 0;
}

.header__logo {
    background-image: url(./../i/logo.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 97px;
    float: left;
    margin: 26px 0 0 31px;
}

.header__slogan {
    color: #878484;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;
    float: left;
    clear: left;
    margin: 4px 0 0 1px;
    letter-spacing: -0.5px;
    width: 320px;
    text-align: center;
    font-weight: normal;
}

.header__slogan-link {
    color: inherit;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }

}
