@import "var";
@import "helper";

.header {
    background-image: url(./../i/big-bg.png);
    background-repeat: repeat-x;
    background-position: center 0;
    background-color: $mainBgColor;
}

.header__left-part {
    float: left;
    width: 310px;
}

.header__center-part {
    max-width: 692px; // 452 for 980
    margin: 0 200px 0 310px;
}

.header__right-part {
    float: right;
    width: 200px;
}

.header__logo {
    background-image: url(./../i/logo.png);
    background-repeat: no-repeat;
    width: 250px;
    height: 97px;
    display: block;
    margin: 26px auto 4px;
}

.header__slogan {
    color: #878484;
    font-size: 13px;
    line-height: 15px;
    display: block;
    letter-spacing: -0.5px;
    text-align: center;
    font-weight: normal;
}

.header__slogan-link {
    color: inherit;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}

.header-search {
    display: block;
    max-width: 360px;
    padding-top: 41px;
    margin: 0 auto;
    position: relative;
}

.header-search__input {
    background-color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    line-height: 26px;
    display: block;
    border: 1px solid #dcdcdc;
    padding: 7px 39px 5px 17px;
    width: 100%;
    box-sizing: border-box;
}

.header-search__icon {
    background-image: url(./../i/search.svg);
    background-repeat: no-repeat;
    background-position: 7px 10px;
    background-size: 20px;
    position: absolute;
    width: 40px;
    height: 40px;
    bottom: 0;
    right: 0;
    cursor: pointer;

    &.header-search__icon--in-progress {
        background-image: url(./../i/search-in-progress.gif);
    }
}

.header-search__result-list {
    position: absolute;
    z-index: 3;
    background-color: #fff;
    max-height: 480px;
    overflow: auto;
    border-left: 1px solid $mainColorNegative;
    border-right: 1px solid $mainColorNegative;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.header-search__result-item {
    display: block;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid $mainColorNegative;
    color: $mainColor;
    font-size: 12px;
    &:hover {
        background-color: $mainColorNegative;
        .header-search__result-name {
            text-decoration: underline;
        }
    }
}

.header-search__result-image {
    width: 70px;
    height: 70px;
    float: left;
    background-size: cover;
    background-position: center center;
    margin-right: 10px;
    border-radius: 6px;
}

.header-search__result-name {
    @include line-cap(1);
    margin: 5px 0 8px;
}

.header-search__result-description {
    @include line-cap(3);
}

.header-work-time {
    font-size: 16px;
    text-align: center;
    max-width: 400px;
    margin: 26px auto 0;
}

.header-work-time__paragraph {
    color: $secondaryColor;
    font-weight: bold;
    padding-bottom: 6px;
}

.header-work-time__time {
    color: $mainColor;
}

.header__phone {
    color: $mainColor;
    text-decoration: none;
    float: right;
    clear: right;
    text-align: right;
    font-size: 17px;
    line-height: 17px;
    background-repeat: no-repeat;
    background-size: 17px 17px;
    padding: 6px 0 6px 26px;
    background-position: 0 6px;
}

.header__phone--velcom {
    //margin-top: 9px;
    margin: 27px 0 11px;
    background-image: url(./../i/velcom.svg);
}

//.header__phone--mts {
//    background-image: url(./../i/mts.svg);
//}

.header__authorization {
    float: right;
    font-size: 14px;
    padding: 11px 0 1px;
    text-decoration: none;
    color: $secondaryColor;
    border-bottom: 1px solid $secondaryColor;
    &:hover {
        border-bottom-color: transparent;
    }
}

.header__authorization--divider {
    border-bottom-color: transparent;
    padding-left: 6px;
    padding-right: 6px;
}

.header__social-block {
    padding: 7px 0 4px;
}

.header__social-link {
    float: right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 26px;
    height: 26px;
    margin-left: 3px;
}

.header__social-link--vk {
    background-image: url(./../i/vk.png);
}

.header__social-link--youtube {
    background-image: url(./../i/youtube.png);
}

.header__social-link--instagram {
    background-image: url(./../i/instagram.png);
}

.header__cart {
    background-color: $mainColor;
    color: $mainColorNegative;
    text-decoration: underline;
    font-size: 14px;
    line-height: 23px;
    min-width: 100px;
    float: right;
    padding: 14px 7px 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
    min-height: 23px;

    &:before {
        content: '';
        position: absolute;
        background-image: url(./../i/cart.svg);
        background-color: $secondaryColor;
        left: -48px;
        top: 0;
        width: 48px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: 48% auto;
        background-position: center 60%;;
    }
    &:hover {
        text-decoration: none;
    }
}

.header__cart-counter {
    position: absolute;
    left: -10px;
    top: -9px;
    padding: 3px 4px 3px 6px;
    font-size: 10px;
    line-height: 10px;
    background-color: $secondaryColor;
    font-family: $monospaceFontFamily;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
    text-align: center;
}
