@import "var";

.header-nav {
    text-align: center;
    border: 1px solid #A7A7A7;
    border-left: none;
    border-right: none;
    background-color: #E8E8E8;
    line-height: 0;
    position: relative;
}

.header-nav__sticky {
    position: sticky;
    top: -1px;
    z-index: 2;
}

.header-nav__link {
    display: inline-block;
}

.header-nav__switch-button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 10px;
    line-height: 34px;
    font-size: 25px;
    font-weight: bold;
    width: 16px;
    text-align: center;
    color: #fff;
    background-color: $secondaryColor;
    cursor: pointer;
}

.header-nav__tab-wrapper {
    left: 0;
    top: 34px;
    position: absolute;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    //padding: 10px;
    background-color: #fff;
    border: 1px solid #A7A7A7;
    border-left: 0;
    border-right: 0;
}

.header-nav__active-element {
    display: block;
    color: $mainColor;
    text-decoration: none;
    font-size: 14px;
    line-height: 14px;
    padding: 10px 19px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        color: $secondaryColor;
    }
}

.header-nav__link--narrow {
    display: block;
    position: relative;
    .header-nav__active-element {
        text-align: left;
        padding-right: 34px;
    }
    .header-nav__tab-wrapper {
        position: static;
    }
}

.header-nav {
    .header-nav__link--narrow:nth-child(even) {
        background-color: #fff;
    }
    .header-nav__link--narrow:hover {
        background-color: #ccc;
    }
}
