@import "var";

.home-swiper-wrapper {
    width: 100%;
    overflow: hidden;
    height: 1px; // will set normal size by js, do not use 0px, 0px -=> bug with slides. extra left padding
    position: relative; // need for .swiper-pagination
    transition: background-color 0.3s ease-out;
    &:hover {
        background-color: $mainBgColor;
    }
}

.home-swiper__slide {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.home-swiper__img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    z-index: 0;
    bottom: 10px;
    left: 0;
    width: 100%;
    line-height: 0;
}

.swiper-pagination-switch {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    opacity: 0.2;
    background-color: $mainColor;
    cursor: pointer;
    margin: 0 4px;
    &.swiper-active-switch {
        background-color: $secondaryColor;
        opacity: 0.8;
    }
    &:hover {
        @extend .swiper-active-switch;
        box-shadow: 0 0 7px 2px rgba(255, 0, 0, 0.9);
    }
}

