@import "var";

@media only screen and (max-width: $mediaLaptop) { // 999 AND little
    body {
        background-color: #c00;
    }

    .product {
        padding-top: 12px;
    }

    .hidden-for-laptop {
        display: none;
    }

    .header__left-part {
        width: auto;
    }

    .header__center-part {
        margin-left: 270px;
    }

    .footer {
        &:before {
            display: none;
        }
    }

    .footer__left-part,
    .footer__full-line {
        display: none;
    }

    .footer__center-part {
        margin-left: 0;
        margin-right: 380px;
    }

    .main-wrapper {
        margin-bottom: -187px;
        &:after {
            height: 187px;
        }
    }
}
