@import "var";

@media only screen and (max-width: $mediaLaptop) { // 999 AND little
    body {
        background-color: #c00;
    }

    .product {
        padding-top: 12px;
    }

    .hidden-for-laptop {
        display: none;
    }

    .header__left-part {
        width: auto;
    }

    .header__center-part {
        margin-left: 270px;
    }

    .footer__left-part,
    .footer__full-line {
        display: none;
    }

    .footer__center-part {
        margin-left: 0;
        margin-right: 380px;
    }
}
