@import "var";

.product-image {
    width: 320px;
    float: left;
    .product--full-page & {
        float: none;
        width: 100%;
        padding-bottom: 35px;
    }
}

.product-swiper-wrapper { // see .home-swiper-wrapper {
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 1px; // will set normal size by js, do not use 0px, 0px -=> bug with slides. extra left padding
    position: relative;
    transition: background-color 0.3s ease-out;
    cursor: zoom-in;

    .product--full-page & {
        cursor: zoom-out;
    }

    .product--full-page &,
    &:hover {
        background-color: $mainBgColor;
    }
}

.product-swiper__slide {
    position: relative;
}

.product-swiper__img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
}
