.search-page {

}

.search-page__input {
    @extend .header-search__input;
    padding-right: 17px;
    position: sticky;
    top: 47px;
    z-index: 2;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
