.search-page {

}

.search-page__input-wrapper {
    position: sticky;
    top: 77px;
    z-index: 1;
    max-width: 420px;
    margin: 0 auto;
}

.search-page__input {
    @extend .header-search__input;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.8);
}

.search-page__result {
    opacity: 0.9;
    transition: opacity 0.3s linear;
}

.search-page__result--in-progress {
    opacity: 0.4;
}
