.seo-text {
    padding-top: 10px;
    padding-bottom: 35px;
    font-size: 16px;
    line-height: 20px;
}

.seo-text__header {
    padding-top: 13px;
    padding-bottom: 9px;
}

.seo-text__paragraph {
    padding-bottom: 9px;
}

.seo-text__link {
    color: inherit;
    text-decoration: none;
}

.seo-text__list {
    padding-bottom: 7px;
    list-style: disc;
}

.seo-text__list-item {
    padding-bottom: 4px;
    margin-left: 29px;
}
