@import "var";

body {
    color: $mainColor;
    font-size: 14px;
    line-height: 1.15;
    font-family: Verdana, Geneva, sans-serif;
    overflow-y: scroll;
}

.secondary-color {
    color: $secondaryColor;
}

.width-limiter {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}

@media only screen and (max-width: 1023px) { // 1023 AND little
    .width-limiter {
        max-width: 1000px; // 980 +
        padding: 0 10px; // + 10 * 2
    }
}
