@import "var";

body {
    color: $mainColor;
    font-size: 14px;
    line-height: 1.15;
    font-family: Verdana, Geneva, sans-serif;
    overflow-y: scroll;
}

.secondary-color {
    color: $secondaryColor;
}

.width-limiter {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}
