$mainColor: #333;
$mainColorNegative: #ddd;
$secondaryColor: #bf2622;
$mainBgColor: #f6f6f6;

// media queries
$mediaLaptop: 999px;
$mediaTablet: 767px;
$mediaPhone: 367px;
$mediaSmall: 319px;

.clear {
    clear: both;
}

.clear-self {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.clear-full {
    @extend .clear;
    @extend .clear-self;
}

.secondary-color {
    color: $secondaryColor;
}

.width-limiter {
    max-width: 980px;
    margin: 0 auto;
}

@media only screen and (max-width: $mediaLaptop) { // 999 AND little
    .width-limiter {
        margin: 0 10px;
    }
}

.hidden {
    display: none;
}
