$mainColor: #333;
$mainColorNegative: #ddd;
$secondaryColor: #bf2622;
$mainBgColor: #f6f6f6;

.clear {
    clear: both;
}

.clear-self {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.clear-full {
    @extend .clear;
    @extend .clear-self;
}

.secondary-color {
    color: $secondaryColor;
}

.width-limiter {
    max-width: 980px;
    position: relative;
    margin: 0 auto;
}

.hidden {
    display: none;
}
