$mainColor: #333;
$mainColorNegative: #ddd;
$secondaryColor: #bf2622;
$mainBgColor: #f6f6f6;

$mainFontFamily: Arial, "Helvetica Neue", Helvetica, sans-serif;
$monospaceFontFamily: "Lucida Console", monospace;

// media queries
//$mediaLaptop: 999px;
//$mediaWideLaptop: 1219px;
$mediaLaptop: 999px;
$mediaTablet: 767px;
//$mediaPhone: 367px;
//$mediaSmall: 319px;

.clear {
    clear: both;
}

.clear-self {
    &:after {
        content: '';
        display: block;
        clear: both;
    }
}

.clear-full {
    @extend .clear;
    @extend .clear-self;
}

.monospace {
    font-family: $monospaceFontFamily;
}

.secondary-color {
    color: $secondaryColor;
}

.width-limiter {
    //max-width: 980px;
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.width-limiter--big-padding {
    padding-top: 150px;
    padding-bottom: 150px;
}

/*
@media only screen and (max-width: $mediaLaptop) { // 999 AND little
    .width-limiter {
        margin: 0 10px;
        padding: 0;
    }
}
*/

.hidden {
    display: none;
}

.w50 {
    float: left;
    width: 50%;
}

.block-center {
    margin: 0 auto;
}

.bold {
    font-weight: bold;
}
